:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.basic-header {
  background-color: #9c1717;
  max-height: 400px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px 30px 50px;
}

/* Panel principal */
.user-admin {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 40px;
}

.usersList-admin {
  border: solid;
  padding: 5px;
  gap: 5px;
}

/* Estilos para cada usuario, tanto estático como los traídos desde la API */
.usuario-admin, .usuario-div-admin {
  border: solid 1px;
  display: flex;
  padding: 10px;
  gap: 35px;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* alternancia de botón activo/inactivo */
.state-admin {
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(245, 22, 22, 0.85);
  display: block;
  padding: 10px;
  color: white;
  border: none;
  font-size: 16px;
}

.button-mod-admin, 
.button-del-admin, 
.access-admin, 
.close-admin {
  border-radius: 4px;
  cursor: pointer;
  background-color: #ffaa00;
  display: block;
  padding: 10px;
  color: white;
  border: none;
  font-size: 16px;
}

.state-change-admin {
  border-radius: 4px;
  cursor: pointer;
  display: block;
  padding: 10px;
  color: white;
  border: none;
  font-size: 16px;
  background-color: rgba(19, 167, 16, 0.771);
}

/* Efecto hover para botones */
button:hover {
  opacity: 0.8;
}

.us-admin {
  font-size: 3.2em;
  line-height: 1.1;
}
