.button-details {
    width: 20%;
    padding: 10px;
    margin: 20px;
    background-color: #ffaa00;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-end-details{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .button-details:hover , .exit-details:hover {
    background-color:#fbd014 ;
  }