/* estilo general del contenedor*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
}



.container-details {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}



.title-details {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 26px;

}

.card-list-details {
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  
}

label {
  display: block;
  font-size: 16px;
  margin-left: 15;
  margin-bottom: 5px;
  color: #555;
  text-align: left;
  
}

.card-style-details {
  width: 80%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* BUTTONS */
.button-details {
  width: 20%;
  padding: 10px;
  margin: 20px;
  background-color: #ffaa00;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-end-details{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-details:hover , .exit-details:hover {
  background-color:#fbd014 ;
}

.exit-details {
  width: 20px;
  margin:10px;
  background-color: #ffaa00;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}